#contact
{
    margin-top: 20px;
    margin-bottom: 40px;
}

#contact legend
{
    border-bottom: none;
}




#mapandaddress {
    
    overflow:hidden;
    display: flex;
    float:left;
    width: 100%;
}



#mapandaddress_right .jumbotron
{
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}
