/*
.border-box {   
    padding: 40px;
    background-color: rgba(255,255,255,0.42) !important;
    border: 4px solid #ffffff !important;
    
}

.border-box h2 {
    color: #ffffff;
    font-size: 100px;
    word-wrap: break-word;
    text-align: center;
}

.jumbo-container
{
    box-sizing: border-box;
    width:100%;
  
}
*/

.imghead
{
	background-image: url('../images/banner1.jpg');
	background-position: center;
	background-size: cover;
	height: 750px; 

}

#content {
    margin-bottom: 250px;    
    
}

body
{
    background-color: beige;
}

.row{
    background-color: white;
    padding-top: 25px;
    
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  
  
}
.row-eq-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#mission article,#whatwedo article
{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    background-color: white;     
}

#mission article h1,#whatwedo article h1,#howwedoit h1{
    font-family:'Roboto Condensed';
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.jumbotron
{
    height: 100%;
    display : flex;
    align-items : center; 
    
}

.jumbotron p
{
   color: darkgray;
   font-size: 20px;
   text-align: left;
   
}


#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

#howwedoit
{
    margin-top: 0px;
    background-color: white;
}

#howwedoit h1
{
    margin: 0px;
    padding-top: 25px;
}

#services{
    background-color: white;
}

#staff section h3 p
{
    text-align: center;l
}

.wpb_wrapper_parent
{
    height: 100%;
    display : flex;
    align-items : center;
    
}

.wpb_wrapper
{
    border: 4px solid white;

}




