/******************start of general styles**************************/
body p,body h4,body h3,body h2,body h1,body span,body a, ol li
{
    font-family:Lora !important;
}
#content {
    margin-bottom: 250px;
    
    
}

body
{
    background-color:black;
}



.row{
    background-color: white;
/*    padding-top: 25px;*/
    
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  
  
}
.row-eq-height > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.center-text-align
{
    text-align: center;
}

.slight-top-margin
{
    margin-top: 20px;
}

.slight-bottom-margin
{
    margin-bottom: 20px;
}

/*translation button styles*/

.btn-english
{
    background: url('../images/EnglishButton.jpg') no-repeat center;
/*    background-size: contain !important;*/
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 85px;
    height: 30px;
    
}

.btn-sinhala
{
    background: url('../images/SinhalaButton.jpg') no-repeat center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 85px;
    height: 30px;
    margin-left: 15px !important; 
    
}

.btn-common
{
   margin-left: 15px; 
}

/*
.btn-english:active
{
    outline: 1px solid red;
    
}
*/

/*to horizontally center .. used in art and harmony and tree and mind to horizontally center the translated images*/
.hori_center
{
    margin: auto;
}

/******************end of general styles**************************/