

.nav a{
/*    color: white !important;*/
    font-size: 1.1em !important;
    }

.navbar-brand{
  font-size: 1.4em !important; 
/*  padding: 0px;*/
}

.navbar
{
    margin-bottom: 0;
    z-index: 1;
}

.navbar-brand img {
  height: 150%;
    float:left;
    vertical-align: middle;
  
/*
  margin-left: 20px;
 position:absolute;
    z-index: 1;
*/
  
}



