.imghead
{
	background: url('../images/banner2.jpg') no-repeat center center fixed;
	background-position: center;
    
	background-size: cover;
	height: 700px;
    max-width: 100%;
   
/*    margin-bottom: 20px;*/


}

hr
{
    margin-left:10px;
    margin-right:10px;
    border: none;
    height: 4px;
    color: white;
    background-color:white;
}


/******************start of mission tab styles**************************/
#mission article,#vision article,#whatwedo article
{
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    background-color: white;     
}

#mission article h1,#vision article h1,#howwedoit h1{
    font-family:'Roboto Condensed';
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#mission .jumbotron,#vision .jumbotron
{
    height: 100%;
    display : flex;
    align-items : center;
    margin-top: auto;
    margin-bottom: auto;
    
}

#mission .jumbotron p,#vision .jumbotron p
{
   color: darkgrey;
   font-size: 20px;
   text-align: left;
   
}

#myCarousel .nav a small {
    display:block;
}
#myCarousel .nav {
    background:#eee;
}
#myCarousel .nav a {
    border-radius:0px;
}

#howwedoit
{
    margin-top: 0px;
    background-color: white;
}

#howwedoit h1
{
    margin: 0px;
    padding-top: 25px;
}

/******************end of mission tab styles**************************/


@media(max-width:767px)
{
.mission_text_small
    {
        display: flex;
    }

.mission_text_big
    {
        display: none !important;
    }    
}

@media(min-width:767px)
{
.mission_text_small
    {
        display: none !important;
    }

.mission_text_big
    {
        display: flex;
    }    
}