#treeandmind img
{
   margin: auto;
    width: 100%;
}

#treeandmindheader button
{
    float: right;
    display: inline;
}

#treeandmindheader
{
    display: flex;
    align-items: center; /* align vertical */
}

#treeandmindheader_h1 
{
    padding-left: 0px !important;
}