<div class=row><div id=articles><section class=col-sm-12><h2>Stay Updated</h2><p>Wisdom Pet Medicine strives to blend the best in traditional and alternative medicine in the diagnosis and treatment of companion animals including dogs, cats, birds, reptiles, rodents, and fish. We apply the wisdom garnered in the centuries old tradition of veterinary medicine, to find the safest treatments and&nbsp;cures.</p><p>We strive to be your pet's medical experts from youth through the senior years. We build preventative health care plans for each and every one of our patients, based on breed, age, and sex, so that your pet receives the most appropriate care at crucial milestones. We want to give your pet a long and healthy&nbsp;life.</p></section><?php
         $q="select id,title,content from pages order by date_created desc LIMIT 3";
         $r=mysqli_query($dbc,$q);
        
        while ($row=mysqli_fetch_array($r,MYSQLI_ASSOC))
        {
            echo "<section class='col-sm-4'><h3>{$row['title']}<span class="label label-primary">New</span></h3><p>".substr($row['content'],0,500)."</p><a href="article.php?article_id={$row[" id']}'>read article..</a> "; } ?><section><div id=articles_archive class="col-xs-12 col-sm-12"><div class=tree><ul><li><span><i class="fa fa-file-text fa-3x">Articles Archive</i></span><ul id=article_ul><?php
                            $q1="select * from categories order by category";
                            $q2="select * from pages where categories_id=";
                            
                            $r1=mysqli_query($dbc,$q1);
                            
                            while($row1=mysqli_fetch_array($r1,MYSQLI_ASSOC))
                            {
                                echo"<li><span class="btn btn-primary btn-block"><i class=icon-minus-sign></i>{$row1['category']}</span><ul>"; $r2=mysqli_query($dbc,$q2.$row1['id']); while ($row2=mysqli_fetch_array($r2,MYSQLI_ASSOC)) { echo "<li><a href="article.php?article_id={$row2[" id']}'>".date("Y/m/d", strtotime($row2['date_created']))." : {$row2['title']}</a></li>"; } echo "</ul></ul></li>"; } ?></ul></div></div></section></div></div>