<div class="row">
    <div id="artandharmony">
        <section class="col-xs-12">
            <h1>Art and Harmony</h1>
            <br>
            
            <h4><u><strong>What is Art and Harmony?</strong></u></h4>
            <p>The common goals of “We are Sri Lankans” is to gather all Sri Lankans who are living all over the world irrespective of Race,Religion,Caste,Party,Colour with the intension of building a law abiding loving the nature and the future society is the aim of “Sri Lankan key.”Art and harmony has undertaken the responsibility of educating the public in many attractive ways the role and the concept of socialization of the “Sri Lankan key” social services foundation.</p>
            
            <h4><u><strong>How Does Art and Harmony work?</strong></u></h4>
            <p>Sri Lanka is a country with special cultural beauty accepted by all people around the world. As a Sri Lankan we feel proud of this concept which is defined by art to the future generation by means of building inter relationship among the society through</p>
            
            <ui>
                <li>Writing</li>
                <li>Speaking</li>
                <li>Painting</li>
                <li>Dancing</li>
            </ui>
            <br> 
            <p>Which is a four cornered communication artistic convergent of “Art and Harmony”. This is a project nourished and taken forward with the services obtained from educated scholars.</p>
            
           <u><strong>Writing</strong></u>
           <p>With regard to pride of Sri Lanka “Sri Lankan key” magazine is printed and distributed with letters and inputs collected from a team of university students,lectures,scholars,professionals and creations created by students who hold membership in various social services organizations.</p>
           <br>
                                         
           <u><strong>Speaking</strong></u>
           <p>Taking into consideration the organizations main objectives a panel of university lectures services is obtained to conduct lectures to the Sri Lankans living in overseas out lining the project with the aim of taking the message to the public with a clear dissemination process.</p>
           <br>
                                         
           <u><strong>Painting</strong></u>
           <p>An open invitation is extended to students on the “Sri Lankan key” web site to participate on an art competition out lining the organizations objectives under various topics. The paintings selected from this art competition are exhibited in overseas cities where Sri Lankans are living and at the same time paintings done by the children of these cities are exhibited along with the paintings of our children. </p>
           <br>
           
          <u><strong>Dancing</strong></u>
           <p>The main aim of this process is out lining the organizations objectives by way of songs and creation analysis which includes exhibiting amusing short dramas, stage shows by ‘Sri Lankan key” social services organization. The objective of this organization is conveyed to the world society through awareness programmes. At the same time suggestions and thoughts are collected with their collaboration through this process.</p>
          <br>                  
          
          <h4><u><strong>Organization Development and Objective Broadening</strong></u></h4>
          <p>With regard to the publicity and establishment of the social organization and its activities                      “Sri Lankan key” member social media has established branches worldwide with the aim of promoting the tourism industry and the opportunities that are available in the tourism industry as an investment. Information and data with regard to the tourism industry is passed on to the foreigners and investors thus “creating an Economic Progress in Sri Lanka”.The main of this exercise is to enhance the organizations objectives for a better prosperous economic future.</p>                                                               
        </section>
    </div>
</div>