<div class="row">
  
   <div id="artandharmonyheader" class="col-xs-12">
        <div id="artandharmonyheader_h1" class="col-xs-8">
        <h1>Art and Harmony</h1>
        </div>
        <div class="col-xs-4">
            <div class="row">
                       
                <button id="artandh_sinhala_btn" type="button" class="btn btn-success col-xs-4 btn-common">සිංහල</button>
                
                <button id="artandh_english_btn" type="button" class="btn btn-success col-xs-4 active">English</button>
                
            </div>
        </div>
   </div>
            <br>
   <div id="artandharmonycontent">
    <div id="artandharmony">
        <section class="col-xs-12">
<!--
           <div id="artandharmonyheader">
            <h1>Art and Harmony</h1>
            <button type="button" class="btn btn-default btn-english"></button>
            <button type="button" class="btn btn-sinhala"></button>
           </div>
            <br>
-->
            
            <h4><u><strong>What is Art and Harmony?</strong></u></h4>
            <p>The common goals of “We are Sri Lankans” is to gather all Sri Lankans who are living all over the world irrespective of Race,Religion,Caste,Party,Colour with the intension of building a law abiding loving the nature and the future society is the aim of “Sri Lankan key.”Art and harmony has undertaken the responsibility of educating the public in many attractive ways the role and the concept of socialization of the “Sri Lankan key” social services foundation.</p>
            
            <h4><u><strong>How Does Art and Harmony work?</strong></u></h4>
            <p>Sri Lanka is a country with special cultural beauty accepted by all people around the world. As a Sri Lankan we feel proud of this concept which is defined by art to the future generation by means of building inter relationship among the society through</p>
            
            <ui>
                <li>Writing</li>
                <li>Speaking</li>
                <li>Painting</li>
                <li>Dancing</li>
            </ui>
            <br> 
            <p>Which is a four cornered communication artistic convergent of “Art and Harmony”. This is a project nourished and taken forward with the services obtained from educated scholars.</p>
         <div class="slight-bottom-margin row">
              <div class="bg-success col-xs-12"> 
               <u><strong>Writing</strong></u>
               <p>With regard to pride of Sri Lanka “Sri Lankan key” magazine is printed and distributed with letters and inputs collected from a team of university students,lectures,scholars,professionals and creations created by students who hold membership in various social services organizations.</p>
              </div>
              <div class="bg-info col-xs-12">                             
               <u><strong>Speaking</strong></u>
               <p>Taking into consideration the organizations main objectives a panel of university lectures services is obtained to conduct lectures to the Sri Lankans living in overseas out lining the project with the aim of taking the message to the  public with a clear dissemination process.</p>
              </div>
           
           
              <div class="bg-success col-xs-12">                             
               <u><strong>Painting</strong></u>
               <p>An open invitation is extended to students on the “Sri Lankan key” web site to participate on an art competition out lining the organizations objectives under various topics. The paintings selected from this art competition are exhibited in overseas cities where Sri Lankans are living and at the same time paintings done by the children of these cities are exhibited along with the paintings of our children. </p>
              </div>
           
        
              <div class="bg-info col-xs-12">   
                  <u><strong>Dancing</strong></u>
                   <p>The main aim of this process is out lining the organizations objectives by way of songs and creation analysis which includes exhibiting amusing short dramas, stage shows by ‘Sri Lankan key” social services organization. The objective of this organization is conveyed to the world society through awareness programmes. At the same time suggestions and thoughts are collected with their collaboration through this process.</p>
              </div>   
         </div>         
         <div class="slight-top-margin">
              <h4><u><strong>Organization Development and Objective Broadening</strong></u></h4>
              <p>With regard to the publicity and establishment of the social organization and its activities                      “Sri Lankan key” member social media has established branches worldwide with the aim of promoting the tourism industry and the opportunities that are available in the tourism industry as an investment. Information and data with regard to the tourism industry is passed on to the foreigners and investors thus “creating an Economic Progress in Sri Lanka”.The main of this exercise is to enhance the organizations objectives for a better prosperous economic future.</p>
              
         </div>                       
        </section>
    </div>
    <div id="magazine">
           
            <section id="magazine_info" class="col-xs-12">
              <h2><u>SL Key Magazine</u></h2>
               <div id="magazine_info_top">
                  
                   <p>
                       This magazine offers children who live overseas the ability to get to know the values of Sri Lanka and its culture. Understanding inter relationships between parents and children to live a better life with good character. Psychology related articles which give tips on how to face in today’s society.
                   </p>
                   <p>
                       Tips on things to follow in order to improve positive thinking which will in return help to live in the society with harmony by building the appropriate mindset. Organize workshops to change the attitude of people who face financial difficulties and people who face various problems due to the lack of education.
                   </p>
                   <p>
                       Organize legal advisory & Psychological advisory workshops in the areas where violence against women and child abuse is prominent. Introduce a program for Sri Lankans who live in foreign countries and other organizations where they could contribute to help students who face financial difficulties to continue their studies with a proper legal method. Change & develop the attitude of school children and bring them to a mindset where they would protect the nature and help them to adopt a lifestyle where they would love Nature.
                   </p>
               </div>
               <h4><u><strong>Bringing to you a magazine of unity </strong></u></h4>
               
               <p>The main scope of SL Key is to bring together all the Sri Lankans communities within and outside Sri Lanka irrespective of race, religion and nationality.
               </p>
               <ul>
                   <li>
                       <p>
                       This magazine offers children who live overseas the ability to get to know the values of Sri Lanka and its culture.
                       </p>
                   </li>
                   <li>
                       <p>
                       Understanding inter-relationships between parents and children to live a better life with good character.
                       </p>
                   </li>
                   <li>
                       <p>
                       Psychology related articles which give tips on how to face in today’s society.
                       </p>
                   </li>
                   <li>
                       <p>
                       Tips on things to follow in order to improve positive thinking which will in return help to live in the society with harmony by building the appropriate mindset.
                       </p>
                   </li>
                   <li>
                       <p>
                       Organize workshops to change the attitude of people who face financial difficulties and people who face various problems due to the lack of education.
                       </p>
                   </li>
                   <li>
                       <p>
                       Organize legal advisory & Psychological advisory workshops in the areas where violence against women and child abuse is prominent.
                       </p>
                   </li>
                   <li>
                       <p>
                       Introduce a program for Sri Lankans who live in foreign countries and other organizations where they could contribute to help students who face financial difficulties to continue their studies with a proper legal method.
                       </p>
                   </li>
                   <li>
                       <p>
                       Change & develop the attitude of school children and bring them to a mindset where they would protect the nature and help them to adopt a lifestyle where they would love Nature.
                       </p>
                   </li>
               </ul>
           
            </section>
           
<!--
            <section id ="services">
                <div class="col-xs-6 col-sm-4">
                    <div href="#" class="thumbnail">
                        <img class="media-object" src="images/services1.jpg" alt="Service 1">
                        <div class="caption">
                            <h3 class="media-heading">Service 1</h3>
                            <p>We offer specialized care for reptiles, rodents, birds, and other exotic pets.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div class="thumbnail">
                        <div class="embed-responsive embed-responsive-4by3" >
                            <video src="video/brushing.mp4" class="embed-responsive-item" autoplay controls muted>

                            </video>
                        </div>
                        <div class="caption"> To add some internal space to the content below the image 
                            <h3 class="media-heading">Service 2</h3>
                            <p>Our therapeutic grooming treatments help battle fleas, allergic dermatitis, and other challenging skin conditions.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div href="#" class="thumbnail"><img src="images/services3.jpg" alt="Service 3">
                        <div class="caption">
                            <h3 class="media-heading">Service 3</h3>
                            <p>Wellness and senior exams, ultrasound, x-ray, and dental cleanings are just a few of our general health services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div href="#" class="thumbnail"><img src="images/services4.jpg" alt="Service 4">
                       <div class="caption">
                            <h3 class="media-heading">Service 4</h3>
                            <p>Let our nutrition experts review your pet's diet and prescribe a custom nutrition plan for optimum health and disease prevention.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div href="#" class="thumbnail"><img src="images/services5.jpg" alt="Service 5">
                        <div class="caption">
                            <h3 class="media-heading">Service 5</h3>
                            <p>We offer the latest advances in safe and effective prevention and treatment of fleas, ticks, worms, heart worm, and other parasites.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <div href="#" class="thumbnail"><img src="images/services6.jpg" alt="Service 6">
                        <div class="caption">
                            <h3 class="media-heading">Service 6</h3>
                            <p>Our veterinarians are experienced in modern vaccination protocols that prevent many of the deadliest diseases in pets.</p>
                        </div>
                    </div>
                </div>            
            </section>
-->
            
        </div> <!--magazine-->
    </div> <!-- artandharmonycontent -->
    
    <div id="artandharmonysinhalacontent" hidden="true" class="col-xs-12">
       <img src="images/sinhalatranslations/artandharmony1.jpg" alt="" class="img-responsive hori_center">        
        <img src="images/sinhalatranslations/artandharmony2.jpg" alt="" class="img-responsive hori_center">
    </div>
</div> <!--row-->