<div class="row">
    <div id="articles">
     <section class="col-sm-12">
            <h2>Stay Updated</h2>
            <p>Wisdom Pet Medicine strives to blend the best in traditional and alternative medicine in the diagnosis and treatment of companion animals including dogs, cats, birds, reptiles, rodents, and fish. We apply the wisdom garnered in the centuries old tradition of veterinary medicine, to find the safest treatments and&nbsp;cures.</p>

            <p>We strive to be your pet's medical experts from youth through the senior years. We build preventative health care plans for each and every one of our patients, based on breed, age, and sex, so that your pet receives the most appropriate care at crucial milestones. We want to give your pet a long and healthy&nbsp;life.</p>
        </section> 
<!--articles intro-->

<!--
        <section class="col-sm-4">
            <h3>Exotic Pets <span class="label label-primary">New</span></h3> 
            <p>Our therapeutic grooming treatments help battle fleas, allergic dermatitis, and other challenging skin conditions. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eos earum, quam facere a voluptates. Autem nam, ipsa modi ipsum adipisci! Explicabo incidunt error voluptates, neque expedita quasi, optio aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur porro, amet consectetur architecto, beatae quos deleniti quidem inventore voluptas ratione iste cumque corrupti explicabo ullam quod cum quas ea molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptas eos, nemo dignissimos assumenda iusto ratione. Hic perspiciatis minus, numquam sapiente. Consectetur illum mollitia pariatur ipsum! Odit laborum eveniet sunt? </p>
            <a href="article.php?article_id=1">read article..</a>
        </section>

        <section class="col-sm-4">
            <h3>Grooming <span class="label label-primary">New</span></h3>
            <p>Our therapeutic grooming treatments help battle fleas, allergic dermatitis, and other challenging skin conditions. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eos earum, quam facere a voluptates. Autem nam, ipsa modi ipsum adipisci! Explicabo incidunt error voluptates, neque expedita quasi, optio aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur porro, amet consectetur architecto, beatae quos deleniti quidem inventore voluptas ratione iste cumque corrupti explicabo ullam quod cum quas ea molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptas eos, nemo dignissimos assumenda iusto ratione. Hic perspiciatis minus, numquam sapiente. Consectetur illum mollitia pariatur ipsum! Odit laborum eveniet sunt?</p>
            <a href="article.php?article_id=2">read article.. </a>
        </section>

        <section class="col-sm-4">
            <h3>General Health <span class="label label-primary">New</span></h3>
            <p>Our therapeutic grooming treatments help battle fleas, allergic dermatitis, and other challenging skin conditions. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eos earum, quam facere a voluptates. Autem nam, ipsa modi ipsum adipisci! Explicabo incidunt error voluptates, neque expedita quasi, optio aperiam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur porro, amet consectetur architecto, beatae quos deleniti quidem inventore voluptas ratione iste cumque corrupti explicabo ullam quod cum quas ea molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis voluptas eos, nemo dignissimos assumenda iusto ratione. Hic perspiciatis minus, numquam sapiente. Consectetur illum mollitia pariatur ipsum! Odit laborum eveniet sunt?</p>
            <a href="article.php?article_id=3">read article..</a>
        </section>
-->
        
        <?php
         $q="select id,title,content from pages order by date_created desc LIMIT 3";
         $r=mysqli_query($dbc,$q);
        
        while ($row=mysqli_fetch_array($r,MYSQLI_ASSOC))
        {
            echo "<section class='col-sm-4'>
            <h3>{$row['title']}<span class='label label-primary'>New</span></h3>
            <p>".substr($row['content'],0,500)."</p>
            <a href='article.php?article_id={$row['id']}'>read article..</a>
        </section>
            ";
            
            
        }
        
        ?>
        
        <section>
           <div id="articles_archive" class="col-xs-12 col-sm-12">
            <div class="tree">
                <ul>
                    <li>
                        <span><i class="fa fa-file-text fa-3x"> Articles Archive </i></span>
                        <ul id="article_ul">
<!--
                            <li class="first_article">
                                <span class="btn btn-primary btn-block"><i class="icon-minus-sign"></i> Articles about rural projects</span>
                                <ul>
                                    <li>
                                        <a href="article.php?article_id=1">2017/06/07 : Deltota School Renovation Project</a>
                                    </li>
                                    <li>
                                        <a href="article.php?article_id=2">2017/01/19 :Polonnaruwa waste water management project</a>
                                    </li>
                                    <li>
                                        <a href="article.php?article_id=3">2016/07/13 Mawilmada road widening project</a>
                                    </li>
                                </ul>
                                
                            </li> 
                            <li>
                                <span class="btn btn-primary btn-block"><i class="icon-minus-sign"></i> Articles about school projects</span>
                                <ul>
                                    <li>
                                        <a href="">2017/06/07 : Deltota School Renovation Project</a>
                                    </li>
                                    <li>
                                        <a href="">2017/01/19 :Polonnaruwa waste water management project</a>
                                    </li>
                                    <li>
                                        <a href="">2016/07/13 Mawilmada road widening project</a>
                                    </li>
                                </ul>
                                
                            </li> 
                            <li>
                                <span class="btn btn-primary btn-block"><i class="icon-minus-sign"></i> Articles about raising awareness</span>
                                <ul>
                                    <li>
                                        <a href="">2017/06/07 : Deltota School Renovation Project</a>
                                    </li>
                                    <li>
                                        <a href="">2017/01/19 :Polonnaruwa waste water management project</a>
                                    </li>
                                    <li>
                                        <a href="">2016/07/13 Mawilmada road widening project</a>
                                    </li>
                                </ul>
                                
                            </li> 
                            <li>
                                <span class="btn btn-primary btn-block"><i class="icon-minus-sign"></i> Articles about social services</span>
                                <ul>
                                    <li>
                                        <a href="">2017/06/07 : Deltota School Renovation Project</a>
                                    </li>
                                    <li>
                                        <a href="">2017/01/19 :Polonnaruwa waste water management project</a>
                                    </li>
                                    <li>
                                        <a href="">2016/07/13 Mawilmada road widening project</a>
                                    </li>
                                </ul>
                                
                            </li> 
-->
                            
                            <?php
                            $q1="select * from categories order by category";
                            $q2="select * from pages where categories_id=";
                            
                            $r1=mysqli_query($dbc,$q1);
                            
                            while($row1=mysqli_fetch_array($r1,MYSQLI_ASSOC))
                            {
                                echo"<li>
                                <span class='btn btn-primary btn-block'><i class='icon-minus-sign'></i>{$row1['category']}</span>
                                <ul>";
                                $r2=mysqli_query($dbc,$q2.$row1['id']);
                                
                                while ($row2=mysqli_fetch_array($r2,MYSQLI_ASSOC))
                                {
                                    echo "<li>
                                        <a href='article.php?article_id={$row2['id']}'>".date("Y/m/d", strtotime($row2['date_created']))." : {$row2['title']}</a>
                                    </li>";
                                    
                                }
                                echo "</ul></li>";
                                
                            }
                            ?>
                        </ul>
                    </li>                    
                </ul>
            </div><!--tree class-->
            </div><!--tree container-->
        </section>
        </div>
 </div>