
<div class="row">
    <section >
                <div class="imghead">
                
                
                
                    
                        <!-- box inside the banner--> 
                        <div class="wpb_wrapper_parent col-xs-8 col-xs-offset-2">
                            <div class="wpb_wrapper">
                                <h2 style="font-size: 80px;color: #ffffff;line-height: .8;text-align: center" class="vc_custom_heading">A BETTER WORLD<br></h2>
                                <div id="padding-3" class="mk-padding-divider   clearfix"></div>

                                <hr id="banner_divider">
                                <div id="text-block-4" class="mk-text-block   ">
                                    <h3 style="text-align: center;">
                                        <span style="color: #ffffff;">&nbsp;The main objective of the Sri Lankan Key Foundation is to inculcate feelings of togetherness among all Sri Lankans and their children living across the world and to instill solidarity irrespective of race ethnicity or religion. Our endeavor is to make all Sri Lankans feel that our existence must not be politically or solely economically motivated, but to make Sri Lankanness as the driving force in our lives..&nbsp;
                                        </span>
                                    </h3>

                                    <div class="clearboth"></div>
                                </div>
                            </div>
                        <!--end of box inside the banner-->
                        </div>
                        
<!--
                        <div id="navigation box">
                           <div id="ourmission" class="col-xs-12 col-lg-6">
                               <a href="#" role="button" class="btn btn-primary">Our Mission</a>
                           </div>
                           <div id="donatenow" class="col-xs-12 col-lg-6">
                            <a href="#" role="button" class="btn btn-primary">Donate Now</a>    
                           </div>
                            
                        </div>
-->
                  </div>
<!--
                  <div id="home_vision" class="jumbotron jumbotron-fluid">
                     <div class="container">
                          <h2>OUR VISION</h2>
                          <h4>To enhance peaceful co-existence of all Sri Lankan communities irrespective of all socio-economic, linguistic and cultural diversities.</h4>
                      </div>
                  </div>
                 
                  <div id="home_mission" class="jumbotron jumbotron-fluid">
                     <div class="container">
                          <h2>OUR MISSION</h2>
                          <h4>To develop capacities of sons and daughters of Mother Sri Lanka by equipping them with necessary know-how and training enabling them to live in harmony and strength.</h4>
                      </div>
                  </div>
-->
                
            </section>            
    <section id="mission" class="row-eq-height">
        <article class="col-xs-12 col-sm-6">
            <div class="jumbotron">
                <div>
                    <h1>OUR VISION</h1>
                    <p>To enhance peaceful co-existence of all Sri Lankan communities irrespective of all socio-economic, linguistic and cultural diversities.
                    </p>
                </div>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6">
            <img src="images/mission1.jpg"  class=" float-right img-responsive">
        </article>
    </section>    
    <section id="vision" class="row-eq-height">
       
        <article class="col-xs-12 col-sm-6 mission_text_small">
            <div class="jumbotron">
              <div>
               <h1>OUR MISSION</h1>
               <p>To develop capacities of sons and daughters of Mother Sri Lanka by equipping them with necessary know-how and training enabling them to live in harmony and strength.
               </p>
               </div>
            </div>        
        </article>
        
        <article class="col-xs-12 col-sm-6 ">
            <img src="images/whatwedo.jpg"  class=" float-left img-responsive">
        </article>
        <article class="col-xs-12 col-sm-6 mission_text_big">
            <div class="jumbotron">
              <div>
               <h1>OUR MISSION</h1>
               <p>To develop capacities of sons and daughters of Mother Sri Lanka by equipping them with necessary know-how and training enabling them to live in harmony and strength.
               </p>
               </div>
            </div>        
        </article>

    
    </section>    
    <section id="howwedoit">
      <div>
       <h1>HOW WE DO THIS</h1>
       </div>
       <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
        <ul class="nav nav-pills nav-justified">
          <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">Counselling</a></li>
          <li data-target="#myCarousel" data-slide-to="1"><a href="#">Mentorship</a></li>
          <li data-target="#myCarousel" data-slide-to="2"><a href="#">Education</a></li>
          <li data-target="#myCarousel" data-slide-to="3"><a href="#">Inspiration</a></li>
        </ul>


 
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      
        <div class="item active">
          <img src="images/howwedoit1.jpg">
<!--
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
          </div>
-->
          <div class="well well-lg" >
          <ins><h4>Counselling</h4></ins>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, facilis sapiente magnam facere debitis labore culpa, quisquam dolore, numquam veniam iusto sit vero libero autem, veritatis repellendus minus itaque nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere tenetur omnis minima veniam, quae, architecto in consectetur est assumenda soluta earum sunt. Soluta consectetur hic reiciendis, sapiente eaque nostrum provident.</p>
          </div>
        </div><!-- End Item -->
 
         <div class="item">
          <img src="images/howwedoit2.jpg">
<!--
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
          </div>
-->
          <div class="well well-lg" >
          <ins><h4>Mentorship</h4></ins>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, facilis sapiente magnam facere debitis labore culpa, quisquam dolore, numquam veniam iusto sit vero libero autem, veritatis repellendus minus itaque nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere tenetur omnis minima veniam, quae, architecto in consectetur est assumenda soluta earum sunt. Soluta consectetur hic reiciendis, sapiente eaque nostrum provident.</p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="images/howwedoit3.jpg">
<!--
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
          </div>
-->
          <div class="well well-lg" >
          <ins><h4>Education</h4></ins>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, facilis sapiente magnam facere debitis labore culpa, quisquam dolore, numquam veniam iusto sit vero libero autem, veritatis repellendus minus itaque nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere tenetur omnis minima veniam, quae, architecto in consectetur est assumenda soluta earum sunt. Soluta consectetur hic reiciendis, sapiente eaque nostrum provident.</p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="images/howwedoit4.jpg">
<!--
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div>
-->
          <div class="well well-lg" >
          <ins><h4>Inspiration</h4></ins>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, facilis sapiente magnam facere debitis labore culpa, quisquam dolore, numquam veniam iusto sit vero libero autem, veritatis repellendus minus itaque nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere tenetur omnis minima veniam, quae, architecto in consectetur est assumenda soluta earum sunt. Soluta consectetur hic reiciendis, sapiente eaque nostrum provident.</p>
          </div>
        </div><!-- End Item -->
                
      </div><!-- End Carousel Inner -->


</div>
        
    </section>
</div>
        <!-- row -->
