<div class="row">

   <div id="treeandmind">
      <section class="col-xs-12">
           <h1>Tree and Mind</h1>
           <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, aliquam consequuntur rerum beatae sint dolorum, minus. Ex eum consequatur numquam facere nostrum odio quidem, id adipisci quisquam modi ipsum repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, culpa, cupiditate reiciendis vel quibusdam illo minima nisi nostrum tenetur explicabo nesciunt recusandae eligendi ad necessitatibus nobis. Voluptatem mollitia aut odit?
           </p>
           
                    <blockquote>
                    <p>During the summer, our rabbit, Tonto, began to have severe redness and itching on his belly and feet. Through diagnostic testing, we learned that Tonto is severely allergic to over a dozens kinds of grass pollens. We've now been doing allergy injections for several months, and his itching and redness have nearly gone away.</p>
                    <footer>Jane H.</footer>
                    </blockquote>
                    
                    <blockquote>
                        <p>When Samantha, our Siamese cat, began sleeping all the time and urinating excessively, we brought her to see the specialists at Wisdom. After running a blood test, Dr. Winthrop confirmed what we all feared - Samantha was showing signs of diabetes. The doctor put us on a daily routine to provide Samantha insulin injections, and showed us how to administer the shots.</p>
                        <footer>The McPhersons</footer>
                    </blockquote>
           <div id="chartContainer" style="height: 300px; width: 100%;"></div> 
           
           <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas illo sit quas in, ut odit! Accusamus deleniti, enim. Ut ex, quidem ipsam exercitationem impedit delectus ducimus porro harum quas suscipit.
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique deleniti voluptatum natus incidunt error, ex ipsam sed dolor eligendi sapiente consequatur, officiis perspiciatis quae maiores vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor molestias perspiciatis, id doloribus saepe. Maiores earum blanditiis, hic enim, non eveniet quidem quasi laboriosam beatae facere voluptatibus voluptatum labore temporibus. Dignissimos, fuga corporis nemo?
           </p>

           <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, aliquam consequuntur rerum beatae sint dolorum, minus. Ex eum consequatur numquam facere nostrum odio quidem, id adipisci quisquam modi ipsum repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, culpa, cupiditate reiciendis vel quibusdam illo minima nisi nostrum tenetur explicabo nesciunt recusandae eligendi ad necessitatibus nobis. Voluptatem mollitia aut odit?
           </p>
           
          
       </section>    
   </div>
    
</div>